/*Reajustando mi sitio personal*/
:root {

  /*  COLORES  */
  --color-tinta:      #252525;   
  --color-suave:      #f4680b;   
  --color-marca:      #2C3E50;  
  --color-acento:     #C87941;  
  --color-acento-osc: #A45F2E;   
  --color-fondo:      #FAFAF8;   
  --color-fondo-alt:  #F0EEE9;   
  --color-linea:      #DDDAD3;   
  --color-blanco:     #FFFFFF;
}